# === Python & venv ===
.venv/
.venv_py310_backup_*/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# === Jupyter ===
.ipynb_checkpoints/
*.ipynb~

# === VS Code ===
.vscode/
*.code-workspace

# === Daten & Artefakte ===
#data/
!data/examples/          # erlaubt Beispiel-Daten
artifacts/
!artifacts/.gitkeep

# === Umgebungen ===
.env
*.env

# === OS & Sonstiges ===
.DS_Store
Thumbs.db
.venv_py310_backup_20260220_154801/
.deepeval/
